body {
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    position: absolute;
    left: 50%;
    padding: 5% 0;
    transform: translate(-50%);
}

main > section {
    padding: 15%;
    height: 70%;
}

section > h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

section > p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 10%;
    
}

section > span {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    background-color: hsl(0, 0%, 95%);
    padding: 7% 15%;
    border-radius: 25px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        width: 55rem;
        height: 40rem;
        position: static;
        transform: none;
        margin: 0 auto;
        
    }
    
    main > section{
        padding: 0 5%;

    }

    section > img {
        display: block;
        margin-top: 40%;
    }

   section > p {
       padding-bottom: 5rem;
   }


   .sedans {
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
   }

   .luxury {
       border-bottom-left-radius: 0;
       border-top-right-radius: 5px;
   }
   
}
